In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import re
import seaborn as sns
import plotly.express as px
import numpy as np
from nltk.corpus import stopwords
sns.set(color_codes = True)
%matplotlib inline
warnings.filterwarnings('ignore')

In [2]:
#reading the data set
df1 = pd.read_csv("data/data1.csv")
df2 = pd.read_csv("data/data2.csv")
df3 = pd.read_csv("data/data3.csv")
df4 = pd.read_csv("data/data4.csv")
df5 = pd.read_csv("data/data5.csv")
df6 = pd.read_csv("data/data6.csv")
df7 = pd.read_csv("data/data7.csv")
df8 = pd.read_csv("data/data8.csv")
df9 = pd.read_csv("data/data9.csv")
df10 = pd.read_csv("data/data10.csv")
df11 = pd.read_csv("data/data11.csv")
data_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11], axis=0)

In [3]:
data_df.describe()

         Unnamed: 0         votes
count  51717.000000  51717.000000
mean   25858.000000    283.697527
std    14929.556273    803.838853
min        0.000000      0.000000
25%    12929.000000      7.000000
50%    25858.000000     41.000000
75%    38787.000000    198.000000
max    51716.000000  16832.000000

In [4]:
data_df.head(5)

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

There are restaurents with no reviews, and the maximum number of review votes for restaurent are 16K.

Checking for null values in dataframe

In [5]:
data_df.isna().sum()

Unnamed: 0                         0
url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

Checking the number of distinct values in each column

In [6]:
print(data_df.nunique())

Unnamed: 0                     51717
url                            51717
address                        11495
name                            8792
online_order                       2
book_table                         2
rate                              64
votes                           2328
phone                          14926
location                          93
rest_type                         93
dish_liked                      5271
cuisines                        2723
approx_cost(for two people)       70
reviews_list                   22513
menu_item                       9098
listed_in(type)                    7
listed_in(city)                   30
dtype: int64

Checking data in rate column, the column needs clean up

In [7]:
data_df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

Replacing NEW, '-' and NAN with empty values in rate column.
Remove /5 from the rate column.
Remove spaces from the rate column.

In [8]:
data_df['rate'].replace('NEW', np.nan, regex=True, inplace=True)
data_df['rate'].replace('-', np.nan, regex=True, inplace=True)
data_df['rate'] = data_df['rate'].apply(lambda x: str(x).split('/')[0])
data_df['rate'] = data_df['rate'].str.strip()
data_df['rate'] = data_df['rate'].apply(lambda r: float(r))
data_df['rate'].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, nan, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

Renaming columns for easy access

In [9]:
#renaming for easier access
data_df.rename(columns = {"listed_in(type)" : "listed_as"}, inplace=True)
data_df.rename(columns={'approx_cost(for two people)': 'cost_for_two'}, inplace=True)
data_df.rename(columns={'listed_in(city)': 'listed_in_city'}, inplace=True)

In [10]:
data_df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', nan, 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [11]:
data_df['rest_type'].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Confectionery',
       'Quick Bites, Beverage Shop', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Dessert Parlor, Quick Bites',
       'Microbrewery, Casual Dining', 'Lounge', 'Bar, Casual Dining',
       'Food Court', 'Cafe, Bakery', nan, 'Dhaba',
       'Quick Bites, Sweet Shop', 'Microbrewery',
       'Food Court, Quick Bites', 'Pub, Bar', 'Casual Dining, Pub',
       'Lounge, Bar', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Sweet Shop, Dessert Parlor',
       'Bakery, Beverage Shop', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Bar, Cafe',
       'Pub, Cafe', 'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Bakery, Kiosk', 'Pub, Microbrewery',
       'Microbrewery, Lounge', 'Fine Dining, Microbrewery',
       'Fine Dining, Bar', 'Mess, Quick Bites', 'Dessert Parlor, Kiosk',
       'Bhojanalya', 'Casual Dining, Quick Bites', 'Pop Up', 'Cafe, Bar',
       'Casual Dining, Lounge', 'Bakery, Sweet Shop', 'Microbrewery, Bar',
       'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe', 'Club, Casual Dining',
       'Quick Bites, Mess', 'Quick Bites, Meat Shop',
       'Quick Bites, Kiosk', 'Lounge, Microbrewery',
       'Food Court, Beverage Shop', 'Dessert Parlor, Food Court',
       'Bar, Lounge'], dtype=object)

Replace Nulls in location and rest_type columns with listed city and listed type respectively.

In [12]:
data_df.location.fillna(data_df.listed_in_city, inplace=True)
data_df.rest_type.fillna(data_df.listed_as, inplace=True)

In [13]:
def sortGroup(data):
    """ This function is used to sort the elemnts from a comma seperated string """
    arr = data.split(', ')
    arr = sorted(arr)
    return ', '.join(str(i) for i in arr)

Sorting the values of rest_type to be consistance across all rows

In [14]:
data_df['rest_type'] = data_df['rest_type'].apply(lambda x: sortGroup(x))

In [15]:
data_df['listed_as'].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [16]:
data_df['cuisines'].unique()

array(['North Indian, Mughlai, Chinese', 'Chinese, North Indian, Thai',
       'Cafe, Mexican, Italian', ...,
       'North Indian, Street Food, Biryani', 'Chinese, Mughlai',
       'North Indian, Chinese, Arabian, Momos'], dtype=object)

In [17]:
data_df['name'].unique()

array(['Jalsa', 'Spice Elephant', 'San Churro Cafe', ..., 'Nawabs Empire',
       'SeeYa Restaurant',
       'Plunge - Sheraton Grand Bengaluru Whitefield Hotel &...'],
      dtype=object)

In [18]:
data_df['cost_for_two'].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

Cost column has string values and contains ','. So we are converting cost column to float data type after removing ','.

In [19]:
data_df['cost_for_two'] = data_df['cost_for_two'].apply(lambda x: str(x).replace(',',''))
data_df['cost_for_two'] = data_df['cost_for_two'].apply(lambda r: float(r))

Removing special characters from restaurent name

In [20]:
data_df["name"] = data_df.name.str.replace('[^a-zA-Z0-9 .,&-@\']', '')
data_df["dish_liked"] = data_df.dish_liked.str.replace('[^a-zA-Z, ]', '')

In [21]:
data_df.columns

Index(['Unnamed: 0', 'url', 'address', 'name', 'online_order', 'book_table',
       'rate', 'votes', 'phone', 'location', 'rest_type', 'dish_liked',
       'cuisines', 'cost_for_two', 'reviews_list', 'menu_item', 'listed_as',
       'listed_in_city'],
      dtype='object')

Converting values of string columns to lower case values, and filling NaN values with empty string.

In [22]:
data_df['dish_liked'] = data_df['dish_liked'].fillna('')
data_df['dish_liked'] = data_df['dish_liked'].str.lower()
data_df['menu_item'] = data_df['menu_item'].str.lower()
data_df['reviews_list'] = data_df['reviews_list'].str.lower()
data_df['cuisines'] = data_df['cuisines'].str.lower()
data_df['listed_as'] = data_df['listed_as'].str.lower()
data_df['listed_in_city'] = data_df['listed_in_city'].str.lower()

Preparing the list of all dishes that exist in the dataset, we are taking the union of values from dish_liked as well as menu_item.

In [23]:
dish_list=[]
for i in list(data_df.index):
    if (data_df.dish_liked[i] != '').any():
        for k in data_df['dish_liked'][i].str.split(', '):
            if k != '':
                dish_list.extend(k)
    
    if (data_df.menu_item[i] != '[]').any():
        for k in data_df['menu_item'][i].str.split(', '):
            if k != '[]':
                dish_list.extend(k)
dish_list=set(dish_list)
print(dish_list)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Extracting food items from review and conmbine them with existing dish_liked list. Grouping the records and creating the aggregated list of dish_lied.

In [24]:
dish_list.remove('[]')
data_df['dish_liked_new'] = data_df.reviews_list.apply(lambda x: ', '.join(list(dish_list.intersection(x.split()))))
data_df["dish_liked"] = data_df["dish_liked"] + ', '+ data_df["dish_liked_new"]
data_df['dish_liked'] = data_df.groupby(['address','name','location'])['dish_liked'].transform(lambda x : ', '.join(x))

Removing special characters and duplicate items from dish_liked.

In [25]:
data_df["dish_liked"] = data_df.dish_liked.str.replace('[^a-z]', ' ')
data_df.dish_liked = data_df.dish_liked.str.replace(r'\s+', ' ')
data_df['dish_liked'] = data_df['dish_liked'].apply(lambda x: ' '.join(set([y.strip() for y in x.split(' ')])))
data_df

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,cost_for_two,reviews_list,menu_item,listed_as,listed_in_city,dish_liked_new
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,lajawab soup butter masala paratha sweet shorb...,"north indian, mughlai, chinese",800.0,"[('rated 4.0', 'rated\n a beautiful place to ...",[],buffet,banashankari,"corn, fried, chicken, butter, rice, halwa, par..."
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,thai fish tikka buffet mutton fried lassi curr...,"chinese, north indian, thai",800.0,"[('rated 4.0', 'rated\n had been here for din...",[],buffet,banashankari,"fish, mutton, fried, lassi, chicken, egg, rice..."
2,2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining",supreme soup nachos mocktails decor ranch pink...,"cafe, mexican, italian",800.0,"[('rated 3.0', ""rated\n ambience is not that ...",[],buffet,banashankari,"cherry, decor, pizza, ranch, pasta, mocktails,..."
3,3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,vegetarian mango masala rice roti garlic dosa ...,"south indian, north indian",300.0,"[('rated 4.0', ""rated\n great food and proper...",[],buffet,banashankari,"vegetarian, mango, rice, garlic, roti, pineapple"
4,4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,gol paratha kulcha panipuri gappe,"north indian, rajasthani",600.0,"[('rated 4.0', 'rated\n very good restaurant ...",[],buffet,banashankari,"paratha, kulcha"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1712,51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,080 40301477,Whitefield,Bar,cocktails chicken mocktails,continental,1500.0,"[('rated 5.0', ""rated\n food and service are ...",[],pubs and bars,whitefield,"mocktails, cocktails, chicken"
1713,51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,,finger food,600.0,[],[],pubs and bars,whitefield,
1714,51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,,finger food,2000.0,[],[],pubs and bars,whitefield,
1715,51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,080 49652769,"ITPL Main Road, Whitefield",Bar,mocktails cocktails buttermilk pizza,finger food,2500.0,"[('rated 4.0', 'rated\n nice and friendly pla...",[],pubs and bars,whitefield,"mocktails, pizza"
1716,51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",mocktails,"finger food, north indian, continental",1500.0,"[('rated 5.0', 'rated\n great ambience , look...",[],pubs and bars,whitefield,mocktails

Cleaning menu_items and adding dish_liked as menu_item where the menu_item has no values.

In [26]:
data_df['menu_item'] = data_df.groupby(['address','name','location'])['menu_item'].transform(lambda x : ' '.join(x))
data_df.menu_item.replace(to_replace=r"[^a-zA-Z ]", value=" " ,regex=True ,inplace=True)
data_df.menu_item = data_df.menu_item.str.replace(r'\s+', ' ')
data_df['menu_item'] = np.where((((data_df['menu_item'] == '') | (data_df['menu_item'] == ' ')) &  (data_df['dish_liked'] != '')), data_df['dish_liked'], data_df['menu_item'])
data_df['menu_item'] = data_df['menu_item'].apply(lambda x: ' '.join(set([y.strip() for y in x.split(' ')])))
data_df

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,cost_for_two,reviews_list,menu_item,listed_as,listed_in_city,dish_liked_new
0,0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,lajawab soup butter masala paratha sweet shorb...,"north indian, mughlai, chinese",800.0,"[('rated 4.0', 'rated\n a beautiful place to ...",lajawab soup butter masala paratha sweet shorb...,buffet,banashankari,"corn, fried, chicken, butter, rice, halwa, par..."
1,1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,thai fish tikka buffet mutton fried lassi curr...,"chinese, north indian, thai",800.0,"[('rated 4.0', 'rated\n had been here for din...",seven karepak ki fish safed batti masala and ...,buffet,banashankari,"fish, mutton, fried, lassi, chicken, egg, rice..."
2,2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining",supreme soup nachos mocktails decor ranch pink...,"cafe, mexican, italian",800.0,"[('rated 3.0', ""rated\n ambience is not that ...",bakunin insalata alla and masala crostini oni...,buffet,banashankari,"cherry, decor, pizza, ranch, pasta, mocktails,..."
3,3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,vegetarian mango masala rice roti garlic dosa ...,"south indian, north indian",300.0,"[('rated 4.0', ""rated\n great food and proper...",vegetarian mango dosa masala rice garlic roti ...,buffet,banashankari,"vegetarian, mango, rice, garlic, roti, pineapple"
4,4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,gol paratha kulcha panipuri gappe,"north indian, rajasthani",600.0,"[('rated 4.0', 'rated\n very good restaurant ...",gol paratha kulcha panipuri gappe,buffet,banashankari,"paratha, kulcha"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1712,51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6,27,080 40301477,Whitefield,Bar,cocktails chicken mocktails,continental,1500.0,"[('rated 5.0', ""rated\n food and service are ...",cocktails mocktails chicken,pubs and bars,whitefield,"mocktails, cocktails, chicken"
1713,51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,,finger food,600.0,[],,pubs and bars,whitefield,
1714,51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,,finger food,2000.0,[],,pubs and bars,whitefield,
1715,51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3,236,080 49652769,"ITPL Main Road, Whitefield",Bar,mocktails cocktails buttermilk pizza,finger food,2500.0,"[('rated 4.0', 'rated\n nice and friendly pla...",cocktails buttermilk pizza mocktails,pubs and bars,whitefield,"mocktails, pizza"
1716,51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",mocktails,"finger food, north indian, continental",1500.0,"[('rated 5.0', 'rated\n great ambience , look...",mocktails,pubs and bars,whitefield,mocktails

Removing the columns that are not used in further analysis

In [27]:
data_df = data_df.drop(["Unnamed: 0","url","phone","dish_liked_new"], axis = 1)

Grouping and createing aggregated list for string columns.

In [28]:
data_df.drop_duplicates(["address","name","reviews_list"],inplace=True)
data_df.shape

(25130, 15)

In [29]:
data_df['cuisines'] = data_df['cuisines'].str.replace('[^a-zA-Z, ]', '') 
data_df['cuisines'] = data_df['cuisines'].fillna('')
data_df['reviews_list'] = data_df.groupby(['address','name','location'])['reviews_list'].transform(lambda x : ','.join(x))
data_df.reviews_list.replace(to_replace=r"\],\[", value="," ,regex=True ,inplace=True)
data_df.reviews_list.replace(to_replace=r'\\n',value=' ',regex=True,inplace=True)
data_df['reviews_list'].replace('\[\]', '', regex=True, inplace=True)
data_df['listed_in_city'] = data_df.groupby(['address','name'])['listed_in_city'].transform(lambda x : ', '.join(x))
data_df['listed_as'] = data_df.groupby(['address','name'])['listed_as'].transform(lambda x : ', '.join(x))
data_df['cuisines'] = data_df.groupby(['address','name'])['cuisines'].transform(lambda x : ', '.join(x))
data_df['location'] = data_df.groupby(['address','name'])['location'].transform(lambda x : ', '.join(x))
data_df['listed_in_city'] = data_df['listed_in_city'].apply(lambda x: ', '.join(set([y.strip() for y in x.split(',')])))
data_df['listed_as'] = data_df['listed_as'].apply(lambda x: ' '.join(set([y.strip() for y in x.split(',')])))
data_df['cuisines'] = data_df['cuisines'].apply(lambda x: ' '.join(set([y.strip() for y in x.split(',')])))
data_df['location'] = data_df['location'].apply(lambda x: ' '.join(set([y.strip() for y in x.split(',')])))

In [30]:
#data_df['rate'] = data_df.groupby(['address','name','location','reviews_list'])['rate'].transform('max')

In [31]:
data_df.duplicated().sum()

7314

In [32]:
data_df.drop_duplicates(inplace=True)
data_df.shape

(17816, 15)

In [33]:
def get_avg_rating(review_text):
    """ This function is used to calculated average rating from reviews list"""
    ratings = re.findall(r'\(\'Rated \d', str(review_text))
    ratings = list(map(lambda st: str.replace(st, "('Rated ", ""), ratings))
    ratings = [int(i) for i in ratings]
    if len(ratings) != 0:
        avg_rating = round(sum(ratings) / len(ratings),1)
    else:
        avg_rating = 0
    return avg_rating

Replace Null values in rating and votes with values extracted from reviews list

In [34]:
data_df['avg_rating']= data_df['reviews_list'].apply(lambda reviews_list : get_avg_rating(reviews_list))
data_df['number_of_votes'] = data_df['reviews_list'].apply(lambda reviews_list : len(re.findall(r'\(\'Rated \d', str(reviews_list))))
data_df['avg_rating'].replace(0, np.nan, regex=True, inplace=True)
data_df['votes'] = np.where(data_df['votes'] == 0, data_df['number_of_votes'], data_df['votes'])
data_df.rate.fillna(data_df.avg_rating, inplace=True)
data_df = data_df.drop(["avg_rating","number_of_votes"], axis = 1)

In [35]:
data_df.dropna(how='any',inplace=True)
data_df.shape

(14498, 15)

Dropping the duplicates based on name and address

In [36]:
data_df = data_df.drop_duplicates(subset=["name","address"], keep='last')
data_df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,cost_for_two,reviews_list,menu_item,listed_as,listed_in_city
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,thai fish tikka buffet mutton fried lassi curr...,thai chinese north indian,800.0,"[('rated 4.0', 'rated had been here for dinn...",seven karepak ki fish safed batti masala and ...,delivery buffet,banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,vegetarian mango masala rice roti garlic dosa ...,north indian south indian,300.0,"[('rated 4.0', ""rated great food and proper ...",vegetarian mango dosa masala rice garlic roti ...,dine-out buffet,banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,gol paratha kulcha panipuri gappe,north indian rajasthani,600.0,"[('rated 4.0', 'rated very good restaurant i...",gol paratha kulcha panipuri gappe,buffet,banashankari
6,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6,8,Mysore Road,Casual Dining,honey chicken,andhra chinese south indian north indian,800.0,"[('rated 5.0', 'rated awesome food ??great s...",honey chicken,buffet,banashankari
10,"12,29 Near PES University Back Gate, D'Souza N...",Caf Down The Alley,Yes,No,4.1,402,Banashankari,Cafe,mango chicken pizza crispy honey sandwich past...,cafe,500.0,"[('rated 4.0', 'rated we ended up here on a ...",ki crush masala onion blackcurrant hulk alfre...,cafes dine-out,banashankari

In [37]:
data_df.shape

(9373, 15)

Creating list of stop words

In [38]:
stop_words = stopwords.words("english")
stop_words.extend(["rated","food","place","ordered","order"])
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'rated', 'food', 'place', 'ordered', 'order']

Removing stop words, special characters and single letters from reviews list

In [39]:
#data_df['reviews_list'] = data_df['reviews_list'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
data_df['reviews_list'] = data_df['reviews_list'].str.replace('[^a-zA-Z]', ' ') 
data_df['reviews_list'] = data_df['reviews_list'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
data_df['reviews_list'] = data_df['reviews_list'].apply(lambda x: ' '.join([word for word in x.split() if len(word)>1] ))

Saving cleaned data as csv file

In [40]:
data_df.dropna(how='any',inplace=True)
data_df.to_csv("data/cleaned_data.csv",index=False)
data_df.shape

(9373, 15)